<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BACKOFFICE | PORTAFOLIO | <%= config.app.company.shortName %></title>
    <link
    rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/colreorder/1.5.3/css/colReorder.dataTables.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.dataTables.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"
  />

  <!-- <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="/stylesheets/entidadesTable.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />
 

  <!-- PARA CUALQUIER NAVEGADOR -->
  <link
    rel="icon"
    href="/images/android-icon-36x36"
    sizes="32x32"
    type="image/png"
  />

  <!-- PARA LOS MODELOS MAS RECIENTES DE IPAD Y IPHONE -->
  <link
    rel="apple-touch-icon-precomposed"
    href="/images/apple-icon-152x152.png"
    type="image/png"
    sizes="152x152"
  />
  <link
    rel="apple-touch-icon-precomposed"
    href="/images/apple-icon-120x120.png"
    type="image/png"
    sizes="120x120"
  />

  <!-- PARA GOOGLE TV -->
  <link
    rel="icon"
    href="/images/favicon-96x96.png"
    sizes="96x96"
    type="image/png"
  />
  <!-- AQUÍ TE ENCONTRARAS CON MAS ETIQUETAS COMO: Title, script, meta... -->

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/fixedcolumns/4.0.1/js/dataTables.fixedColumns.min.js"></script>

  <script src="/javascripts/base.js"></script>

  <script src="/javascripts/jquery.number.js"></script>
  <script src="/javascripts/backofficePortafolio.js"></script>


  <script
    type="text/javascript"
    language="javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.colVis.min.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.flash.min.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="https://cdn.datatables.net/colreorder/1.5.3/js/dataTables.colReorder.min.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="https://cdn.datatables.net/scroller/2.0.3/js/dataTables.scroller.min.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"
  ></script>
  <script
    type="text/javascript"
    language="javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
 <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
</head>
</head>
<body>
    <%- include('base.ejs') %>
   <div class="contenido">
       <div id="tabs" style="width: 99%; margin-left: auto; margin-right: auto; height: 96%;">
            <ul>
                <li><a href="#Holding">Holding</a></li>
                <li><a href="#Currencies">Currencies</a></li>
                <li><a href="#Treasury">Treasury</a></li>
                <li><a href="#TotalInvestmentAccount">Total portfolio investment account</a></li>
                <li><a href="#Resume">Resumen</a></li>
                <li><a href="#PortafolioIntraDaily">Intra daily</a></li>
            </ul>
            <div id="Holding">
                <div id="tabs2" style="width: 99%; margin-right: auto; margin-left: auto; height: 96%;">
                    <ul>
                        <li><a href="#consoliadatedHolding">Consolidated holding</a></li>
                        <li><a href="#holdingBalance">Holding balance</a></li>
                        <li><a href="#totalValuedHolding">Valued holdings</a></li>
                        <li><a href="#CANDAHOLDING">Consolidated and Available holding</a></li>
                        <li><a href="#HOLDINGFORGRAPH">Holding For Graph</a></li>
                    </ul>
                    <div id="consoliadatedHolding">
                        <span> 
                            <button id="loading-data-consolidated-holding" class="ui-button ui-widget ui-corner-all">
                                Cargar datos
                            </button>
                        </span>
                        <table id="tableconsolidatedHolding" style="width: 100% !important; table-layout: fixed;" class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="holdingBalance">
                        <span>
                            <button id="loading-data-table-holding-balance" class="ui-button ui-widget ui-corner-all">Cargar datos</button>
                        </span>
                        <table id="tableHoldingBalance" style="width: auto !important; table-layout: auto;" class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>
                                   
                                </tr>
                            </thead>
                        </table>
                        <div id="parametrosHoldings">
                            <form id="frmHoldingBalance" name="frmHoldingBalance">
                                <table style="padding: 10px 16px 0px 16px;">
                                    <tr>
                                        <td align="right"> 
                                            <label for="accountInvestment">Cuenta&nbsp;:&nbsp;</label>
                                        </td>
                                        <td align="left">
                                            <input type="text" name="account" id="cuentaInvestment" class="strValue" style="width: 274px;" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <label for="dateBalance">Desde&nbsp;:&nbsp;</label>
                                        </td>
                                        <td>
                                            <input type="date" name="from_date" id="date" class="strValue" style="width: 274px;" required>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div id="loadingDatosBalanceHolding">
                        </div>
                    </div>
                    <div id="totalValuedHolding">
                        <span> 
                            <button id="loading-data-value-holding" class="ui-button ui-widget ui-corner-all">
                                Cargar datos
                            </button>
                        </span>
                        <table id="tableValueHolding"style="width: 100% !important; table-layout: fixed;" class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>
                                    
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="CANDAHOLDING">
                        <span> 
                            <button id="loading-data-candaholding" class="ui-button ui-widget ui-corner-all">
                                Cargar datos
                            </button>
                        </span>
                        <table id="tableCandAHolding" style="width: 100% !important; table-layout: fixed;" class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>
                                    
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="HOLDINGFORGRAPH">
                        <span>
                            <buttons id="loading-data-holding-for-graph" class="ui-button ui-widget ui-corner-all">
                                Cargar datos
                            </buttons>
                        </span>
                        <table id="tableholdingforgraph" style="width: 100% !important; table-layout: fixed;" class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>
                                    
                                </tr>
                            </thead>
                        </table>
                        <div id="paramsHoldingForGraph">
                            <form id="frmHoldingForGraph" name="frmHoldingForGraph">
                                <table style="padding: 10px 16px 0px 16px;">
                                    <tr>
                                        <td align="right"> 
                                            <label for="accountInvestmentforGraph">Cuenta&nbsp;:&nbsp;</label>
                                        </td>
                                        <td align="left">
                                            <input type="texto" name="account" id="account_id" class="strValue" style="width: 274px;" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <label for="dateBalanceforgraph">Desde&nbsp;:&nbsp;</label>
                                        </td>
                                        <td>
                                            <input type="date" name="from_date" id="from_date" class="strValue" style="width: 274px;" required>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div id="loadingDatosforGraph">

                        </div>
                    </div>
                </div>
            </div>
            <div id="Currencies">
                <div id="tabs3" style="width: 99%; margin-right: auto; margin-left: auto; height: 96%;">
                        <ul>
                            <li>
                                <a href="#portaflioCurrancies">
                                    Currencies
                                </a>
                            </li>
                            <li>
                                <a href="#AvailablecurrencyPositions">
                                 Major available currency positions
                                </a>
                            </li>
                            <li>
                                <a href="#currencypostions">
                                    Currency positions
                                </a>
                            </li>
                        </ul>
                     <div id="portaflioCurrancies">
                        <span>
                            <button id="loading-data-portafolio-currencies" class="ui-button ui-widget ui-corner-all">
                                Cargar datos
                            </button>
                        </span>
                        <table id="tablePortafolioCurrencies" style="width: 100% !important; table-layout: fixed;"  class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>
                                    
                                </tr>
                            </thead>
                        </table>
                     </div>
                     <div id="AvailablecurrencyPositions" >
                        <span>
                            <button id="loading-data-available-currencies" class="ui-button ui-widget ui-corner-all">
                                Cargar datos
                            </button>
                        </span>
                        <table id="tableAvailableCurrenciespositions" style="min-width: 100%; max-width: 100%; table-layout: fixed;" class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>
                                    
                                </tr>
                            </thead>
                        </table>
                     </div>
                     <div id="currencypostions">
                        <span>
                            <button id="loading-data-currencies" class="ui-button ui-widget ui-corner-all">
                                Cargar datos
                            </button>   
                        </span>
                        <table id="tableCurrenciespositions" style="width: 100% !important; table-layout: fixed;" class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>
                                    
                                </tr>
                            </thead>
                        </table>
                     </div>
                </div>
            </div>
            <div id="Treasury">
                <div id="tabs4" style="width: 99%; margin-left: auto; margin-right: auto; height: 96%;">
                    <ul>
                        <li><a href="#Movements">Movements</a></li>
                        <li><a href="#MovementsDeposit">Movements deposit</a></li>
                    </ul>
                    <div id="Movements">
                        <span>
                            <button id="loading-data-movements" class="ui-button ui-widget ui-corner-all">
                                Cargar datos
                            </button>
                        </span>
                        <table id="tableMovements" style="width: 100% !important; table-layout: auto;"  class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>
                                    
                                </tr>
                            </thead>
                        </table>
                        <div id="parametrosMovements">
                            <form>
                                <table style="padding: 10px 16px 0px 16px;">
                                    <tr>
                                        <td align="right">
                                            <label>Desde&nbsp;:&nbsp;</label>
                                        </td>
                                        <td align="left">
                                            <input type="date" name="from_date" id="desdeDate" class="strValue" style="width: 274px;" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <label>Hasta&nbsp;:&nbsp;</label>
                                        </td>
                                        <td align="left">
                                            <input type="date" name="to_date" id="hastaDate" class="strValue" style="width: 274px;" required>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td align="right">
                                            <label>Cantidad&nbsp;:&nbsp;</label>
                                        </td>
                                        <td align="left">
                                            <input type="number" style="text-align: right; width: 264px;" id="sizeMovement" class="strValue">
                                        </td>
                                    </tr> -->
                                </table>
                            </form>
                        </div>
                        <div id="MovementsLoadingData">

                        </div>
                    </div>
                    <div id="MovementsDeposit">
                        <span>
                            <button id="loading-data-movements-deposit" class="ui-button ui-widget ui-corner-all">
                                Cargar datos
                            </button>
                        </span>
                        <table id="tableMovementsDeposit" style="width: 100% !important; table-layout: auto;" class="row-border hover order-column compact cell-border nowrap">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                        </table>
                        <div id="parametrosMovementsDeposit">
                            <form>
                                <table style="padding: 10px 16px 0px 16px;">
                                    <tr>
                                        <td align="right">
                                            <label>Desde&nbsp;:&nbsp;</label>
                                        </td>
                                        <td align="left">
                                            <input type="date" name="from_date" id="desdeDataDeposit" class="strValue" style="width: 274px;" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <label>Hasta&nbsp;:&nbsp;</label>
                                        </td align="left">
                                        <td>
                                            <input type="date" name="to_date" id="hastaDateDeposit" class="strValue" style="width: 274px;" required>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td align="right">
                                            <label>Cantidad&nbsp;:&nbsp;</label>
                                        </td>
                                        <td align="left">
                                            <input type="number" style="text-align: right; width: 264px;" id="sizeMovementDeposit" class="strValue">
                                        </td>
                                    </tr> -->
                                </table>
                            </form>
                        </div>
                        <div id="MovementsLoadingDataDesposit">

                        </div>
                    </div>
                </div>
            </div>
            <div id="TotalInvestmentAccount" >
                <span>
                    <button id="loading-data-total-investment-account" class="ui-button ui-widget ui-corner-all">
                        Cargar datos
                    </button>
                </span>
                <table id="tableTotalInvestmentAccount" style="width: 100% !important; table-layout: fixed;"   class="row-border hover order-column compact cell-border nowrap">
                    <thead>
                        <tr>

                        </tr>
                    </thead>
                </table>
                <div id="totalInvestmentAccountModal">
                    <form>
                        <table style="padding: 10px 16px 0px 16px;">
                         <tr>
                            <td align="right">
                                <label>Cuenta&nbsp;:&nbsp;</label>
                            </td>
                            <td align="left">
                                <input type="texto" name="account" id="accountInvestmentTotal" class="strValue" style="width: 274px;" required>
                            </td>
                         </tr>
                        </table>
                    </form>
                </div>
                <div id="TotalInvestmentAccountLoadingData">

                </div>
            </div>
            <div id="Resume">
                <span >
                    <button id="loading-data-resumen" class="ui-button ui-widget ui-corner-all">
                        Cargar datos
                    </button>
                </span>
                <table id="tableResume" style="width: 100% !important; table-layout: fixed;" class="row-border hover order-column compact cell-border nowrap">
                    <thead>
                        <tr>

                        </tr>
                    </thead>
                </table>
                <div id="modalResumen">
                    <form>
                        <table style="padding: 10px 16px 0px 16px;">
                            <tr>
                                <td align="right"><label>Cuenta&nbsp;:&nbsp;</label></td>
                                <td align="left"><input type="texto" name="account" id="resumenAccount" class="strValue" style="width: 274px;" required></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="ResumeLoadingData">
                </div>
            </div>
            <div id="PortafolioIntraDaily">
                <span>
                    <button id="loading-data-intra-day" class="ui-button ui-widget ui-corner-all">
                        Cargar datos
                    </button>
                </span>
                <table id="tableIntraDay" style="width: 100% !important; table-layout: fixed;"  class="row-border hover order-column compact cell-border nowrap">
                    <thead>
                        <tr></tr>
                    </thead>
                </table>
                <div id="modalIntraDay" style="padding: 0px 10px;">
                    <form action="">
                      <table style="padding: 10px 16px 0px 16px;">
                        <tr>
                          <td align="right"><label>Cuenta&nbsp;:&nbsp;</label></td>
                          <td align="left"><input type="texto" name="account" style="width: 264px;" id="cuentaIntraDay" name="cuentaIntraDay" required></td>
                        </tr>
                        <tr>
                          <td align="right"><label>Hasta&nbsp;:&nbsp;</label></td>
                          <td align="left"><input type="date" name="to_date" id="to_date" style="width: 264px;" name="to_date" required></td>
                        </tr>
                        <tr>
                          <td align="right"><label>ID moneda&nbsp;:&nbsp;</label></td>
                          <td align="left">
                          <select name="" id="moneda" style="width: 273px;" name="currency_id" required>
                            <option value="arg">$ARG</option>
                            <option value="usd">$USD</option>
                          </select>
                          </td>
                        </tr>
                        <tr>
                          <td align="right"><label>Dias de plazo&nbsp;:&nbsp;</label></td>
                          <td align="left"><input type="number" id="term" style="width: 264px; text-align: right;" name="term" required></td>
                        </tr>
                        <tr>
                          <td align="right"><label>Incluir créditos&nbsp;:&nbsp;</label></td>
                          <td align="left"><input type="checkbox" style="display: flex; align-items: center;" id="include_credits" name="include_credits" required></td>
                        </tr>
                        <tr>
                          <td align="right"><label>Final&nbsp;:&nbsp;</label></td>
                          <td align="left"><input type="date" id="end_date" style="width: 264px;" name="end_date" required></td>
                        </tr>
                        <tr>
                          <td align="right"><label>Liquidacion bid&nbsp;:&nbsp;</label></td>
                          <td align="left"><input type="date" id="settlement_date_bid" style="width: 264px;" name="settlement_date_bid" required></td>
                        </tr>
                        <tr>
                          <td align="right"><label>Posicion monentaria&nbsp;:&nbsp;</label></td>
                          <td align="left"><input type="checkbox" style="display: flex; align-items: center;"  id="discriminate_positions" name="discriminate_positions" required></td>
                        </tr>
                      </table>
                    </form>
                </div>
                <div id="loadingIntraDayData">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
        // Función para obtener el día hábil anterior evitando sábados y domingos
        function getPreviousBusinessDay(date) {
        // Restar un día a la fecha actual
         date.setDate(date.getDate() - 1);
        // Mientras la fecha sea sábado (6) o domingo (0), restar un día más
        while (date.getDay() === 6 || date.getDay() === 0) {
        date.setDate(date.getDate() - 1);
         }
         // Devolver la fecha ajustada
         return date;
        }

        // Crear un nuevo objeto Date con la fecha actual
        var previousBusinessDay = getPreviousBusinessDay(new Date());
        // Establecer el valor del input 'from_date' con la fecha del día hábil anterior en formato 'YYYY-MM-DD'
        $("input[name='from_date']").val(previousBusinessDay.toISOString().split('T')[0]);

        $("input[name='to_date']").val(new Date().toISOString().split('T')[0]);

        $("input[name='account']").val('555');

        // obtener todos los formulario aplicar event.preventDefault() para evitar que se recargue la página
        $("form").submit(function(event) {
            event.preventDefault();
        })

       
  });
    </script>
</body>
</html>